@import"_color_scheme";
@import"_button";
@import"_layout";
@import"_reboot";
ul {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, button {
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}
.title {
	font-size: 1.6rem;
	font-weight: 900;
}
.title-2 {
	text-align: center;
	font-size: 3rem;
	font-weight: 900;
	width: 100%;
}
.para {
	font-size: 1.154rem;
	font-weight: 600;
	line-height: 1.5;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.part-3, .part-4 {
	padding-top: 2rem;
	.card {
		img {
			padding: .5rem;
			border: none;
		}
		&:hover {
			transform: scale(1.1);
			opacity: 0.8;
			h1 {
				color: $yellow-color;
			}
		}
		border: none;
	}
}
header {
	background: url(../images/slide-2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 2;
	padding-top: 4rem;
	padding-bottom: 15rem;
	nav .logo h1 {
		font-size: 2.5rem;
		font-weight: 900;
		color: $white-color;
	}
	nav .logo h1 span {
		transition: all 0.5s ease;
		color: $yellow-color;
	}
	.nav-container {
		@include display-flex;
		justify-content: center;
		a {
			color: $white-color;
			font-size: 1rem;
			font-weight: 600;
			text-transform: none;
			text-decoration: none;
			padding: 0 1rem;
			&:hover {
				color: $yellow-color;
			}
		}
		.upper-nav {
			ul {
				@include display-flex;
			}
			button {
				@include button-1($white-color, $yellow-color);
				font-size: 0.9rem;
				font-weight: 600;
				padding: 0.5rem 1rem;
				margin-left: 0.3rem;
				border: none;
			}
		}
		.lower-nav {
			ul {
				@include display-flex;
			}
		}
	}
    
	.Main-section {
		h1 {
			padding-top: 10rem;
			font-size: 5.5rem;
			letter-spacing: 0px;
			font-weight: bolder;
		}
		color: $white-color;
		text-align: center;
	}
	p {
		@include para; // padding:.5rem 4rem;
		font-weight: 700;
		font-size: 1.5rem
	}
	.section {
		padding: .1rem 6rem;
	}
	.main-btn {
		@include display-flex;
		button {
			@include button-3($white-color, rgba(0, 0, 0, 0),$yellow-color);
			font-size: 1.2rem;
		}
	}
}
.section-1 {
	background-color: $bg-color;
	.part-1 {
		padding-top: 2.5rem;
		.card {
			margin: 2rem;
			padding: 4rem 3rem;
			border: none;
			h1 {
				color: $white-color;
				font-size: 1.7rem;
				font-weight: 900;
			}
			h6 {
				color: $yellow-color;
				font-size: 1rem;
			}
			p {
				@include para;
				color: $white-color;
				font-size: .9rem;
			}
		}
		.card::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}
		.card-1 {
			background-image: url(../images/box-1-bg.jpg);
			z-index: 1;
			background-position: center;
			background-size: cover;
		}
		.card-2 {
			background-image: url(../images/box-2-bg.jpg);
			z-index: 1;
			background-position: center;
			background-size: cover;
		}
		.card-3 {
			background-image: url(../images/box-3-bg.jpg);
			z-index: 1;
			background-position: center;
			background-size: cover;
		}
		button {
			@include button-3($yellow-color, rgba(0, 0, 0, 0), $white-color);
			font-size: 1rem;
		}
	}
	.btn-2 {
		margin: 2rem  0rem;
		@include display-flex;
		button {
			@include button-2($yellow-color, rgba(0, 0, 0, 0));
		}
	}
}
/* search-bar */

.search-bar {
	width: 100%;
	background: url(../images/search-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	padding: 6rem 0;
	margin-top: 5rem;
}
.dis {
	// display: flex;
    flex-direction: row;
}
.search-bar a, .search-bar h1, .search-bar input {
	position: relative;
	z-index: 5;
	text-decoration: none;
	text-transform: uppercase;
}
.search-bar h1 {
	font-size: 2rem;
	color: $white-color;
}
.search-bar input {
	font-size: 1rem;
	font-weight: 600;
	color: white;
	background-color: transparent;
	border: 1px solid $white-color;
	// width: 10.6%;
	// height: 3rem;
	padding: 0.7rem .5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.search-bar input::placeholder {
	color: $white-color;
	text-transform: uppercase;
	font-size: 0.7rem;
}
.search-bar::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $yellow-color;
	opacity: 0.7;
	z-index: 2;
	transition: all 0.7s ease-in-out;
}
.search-bar .btn-5 {
	font-size: 1rem;
	font-weight: 600;
	color: $yellow-color;
	background-color: $white-color;
	padding: 0.7rem 2rem;
	align-items: center;
	justify-content: center;
    margin: 1rem;
}
.search-bar .btn-5:hover {
	background-color: $light-black-color;
}
// special-section
.special-section {
	background-image: url(../images/special-bg.jpg);
	background-position: center;
	background-size: cover;
	z-index: 1;
	padding: 5rem 2rem;
	.img-container {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.main-btn {
		@include display-flex;
		button {
			@include button-3($yellow-color, rgba(0, 0, 0, 0),$white-color);
			font-size: 1.2rem;
		}
	}
	p {
		color: $white-color;
		font-size: 1rem;
		margin-top: 1rem;
		width: 90%;
	}
	h1 {
		font-size: 4rem;
		line-height: 4rem;
		color: $white-color;
		span {
			color: $yellow-color;
			transition: all 0.5s ease;
		}
	}
	position: relative;
	z-index: 0;
	&::after {
		background-color: black;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		z-index: 1;
	  }
}
.featured-games {
	background-color: $white-color;
	padding: 4rem 2rem;
	span {
		color: $yellow-color;
	}
}
.blog-news {
	
	padding: 4rem 1rem;
	span {
		color: $yellow-color;
	}
    .card {
        margin: 3rem;
		img {
			padding: .5rem;
			border: none;
		}
		&:hover {
			transform: scale(1.1);
			opacity: 0.8;
			h1 {
				color: $yellow-color;
			}
		}
		border: none;
	}

}


.about-box{
	background-image: url(../images/about-bg.jpg);
	background-position: center;
	background-size: cover;
	z-index: 1;
	padding: 5rem 2rem;
	.img-container {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.main-btn {
		@include display-flex;
		button {
			@include button-3($white-color, rgba(0, 0, 0, 0),$yellow-color);
			font-size: 1.2rem;
		}
	}
	p {
		color: $white-color;
		font-size: .9rem;
		margin-top: 1rem;
		width: 90%;
	}
	h1 {
		font-size: 3rem;
		line-height: 3rem;
		color: $white-color;
		span {
			color: $yellow-color;
			transition: all 0.5s ease;
		}
	}
	position: relative;
	z-index: 1;
}
.about-box::after {
	background-color: black;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 2;
  }
  
/* footer */
footer {
	background-color: $light-black-color;
	padding: 4rem 0 0 0;
  }
  
  footer .container {
	color: white;
	width: 100%;
  }
  
  footer .container.row {
	align-items: flex-start;
	flex-wrap: wrap;
  }
  
  footer .foot-1,
  footer .foot-2,
  footer .foot-3 {
	flex: 0 0 33%;
	max-width: 33%;
  }
  
  footer .title span {
	color: $yellow-color;
	transition: all 0.5s ease;
  }
  
  footer .foot-1 p {
	font-size: 0.9rem;
	font-weight: 500;
	margin-top: 1rem;
	width: 90%;
  }
  
  footer .foot-1 .row {
	flex-wrap: wrap;
	margin-top: 1rem;
  }
  
  footer .foot-1 a {
	font-size: 1rem;
	font-weight: 500;
	color: $white-color;
	text-transform: none;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0.4rem 0;
  }
  
  footer .foot-1 a i {
	color: $yellow-color;
	transform: rotate(-90deg);
	margin-right: 1rem;
	transition: all 0.5s ease;
  }
  
  footer .foot-1 a:hover {
	color: $yellow-color;
  }
  
  footer .foot-2 .news {
	width: 100%;
	margin-top: 1rem;
	overflow: hidden;
	align-items: flex-start;
  }
  
  footer .foot-2 .news-pic {
	flex: 0 0 35%;
	max-width: 35%;
  }
  
  footer .foot-2 .news-pic img {
	width: 80%;
  }
  
  footer .foot-2 .news-content {
	flex: 0 0 65%;
	max-width: 65%;
  }
  
  footer .foot-2 .news-content h5 {
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.5s ease;
  }
  
  footer .foot-2 .news-content h5:hover {
	color: $yellow-color;
  }
  
  footer .foot-2 .news-content p {
	font-size: 0.9rem;
	margin-top: 0.3rem;
	display: flex;
	align-items: center;
  }
  
  footer .foot-2 .news-content p i {
	font-size: 1.2rem;
	color: $yellow-color;
	margin-right: 0.5rem;
	transition: all 0.5s ease;
  }
  
  footer .foot-3 .row {
	flex-wrap: wrap;
	width: 100%;
  }
  
  footer .foot-3 a {
	flex: 0 0 45%;
	max-width: 45%;
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	color: $white-color;
	margin-top: 1rem;
  }
  
  footer .foot-3 a .btn-pic {
	flex: 0 0 30%;
	max-width: 30%;
  }
  
  .footer .foot-3 a .btn-pic i {
	font-size: 2rem;
  }
  
  .footer .foot-3 a .btn-content {
	flex: 0 0 70%;
	max-width: 70%;
	font-size: 0.9rem;
	font-weight: 500;
	text-transform: capitalize;
	padding-left: 0.2rem;
	text-decoration: none;
  }
  
  .footer .foot-3 a .btn-content span {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
  }
  
  .footer .foot-3 a:hover {
	background-color:$yellow-color;
  }
  
  .footer .last-foot {
	width: 100%;
	background-color: black;
	color: white;
	padding: 2rem 0;
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
  }
  
  .footer .last-foot .container {
	width: 100%;
	align-items: center;
  }
  
  .footer .last-foot .logo-2 {
	width: 28rem;
  }
  
  .footer .last-foot .logo-2 h1 span {
	color: $yellow-color;
	transition: all 0.5s ease;
  }
  
  .footer .last-foot .logo-2 p {
	font-size: 0.7rem;
	font-weight: 400;
  }
  
  .footer .last-foot .last-btns {
	width: 30rem;
  }
  
  .footer .last-foot .last-btns a {
	font-size: 0.8rem;
	font-weight: 500;
	color: $white-color;
	text-transform: capitalize;
	letter-spacing: 0.4px;
	text-decoration: none;
  }
  
  .footer .last-foot .last-btns a:hover {
	color: $yellow-color;
  }
